// Color Palette
// Primary Color
$blue-500: #D9D9FF;
$blue-300: #8C8cFF;
$blue-500: #542FDD;
$blue-700: #0035AA;
$blue-900: #002066;

// Grayscale
$gray-100: #FFF;
$gay-300: #CCC;
$gray-500: #999;
$gray-700: #666;
$gray-900: #333;

// No colors
$black: #000;
$white: #FFF;

// Typography

$heading-1: 3.185rem;
$heading-2: 3.052rem;
$heading-3: 2.441rem;
$heading-4: 1.953rem;
$heading-5: 1.563rem;
$heading-6: 1.25rem;
$paragraph: 1rem;

