@use "variables" as var ;
@import "reset";
@import "resgistrationPanel";


body{
  font-family: var.$font;
}

#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
