@use "variables" as var;
@use "mixins" as mix;
.aside{
  background-color: var.$blue-500;
  color: var.$white;
  -moz-border-radius-topright: 1.413rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__navLogo{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    .logo__title{
      font-weight: 700;
      margin: .2rem 0;
      //display: inline-block;

      &, & > span{
        font-size: var.$heading-1;
      }
      & > span{
        //display: inline-block;
        //vertical-align: middle;
        position: relative;
        top: .4rem;
      }
    }
    .logo__subtitle{
      font-size: var.$heading-2;
      line-height: var.$line-height-high;
      margin: .2rem 0;
    }
  }
  &__features{
    height: 85%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    .features__item{
      height: 35%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      & > span{
        display: block;
        font-size: 2rem;
        margin: .2rem 0;
      }

      .feature__title{
        font-size: var.$heading-6;
        line-height: var.$line-height-normal;

      }
      .feature__description{
        margin-top: .2rem;
        color: var.$gray-300;
        font-size: var.$paragraph;
        line-height: var.$line-height-small
      }


    }
  }
}

.signInPanel{
  background-color: var.$gray-100;
  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: 2rem;



  &__login{
    justify-self: end;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    .login__question{
      font-size: var.$heading-5;
      font-weight: 700;
      color: var.$blue-700;

    }

    .login__switchLogin{

      display: inline-block;
      min-width: 6.813rem;
      min-height: 2.125rem;
      background-color: var.$blue-100;
      border-radius: 1.25rem;
      border: 2px solid var.$blue-700;
      font-weight: 600;
      color: var.$blue-700;
      font-size: var.$paragraph;
      cursor: pointer;

      //padding: 1rem;
    }

  }

  &__registration{
    height: 95%;
    width: 60%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var.$white;
    border-radius: 1.25rem;



    .register__api{
      height: 60%;
      width: 79%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .register__createBanner{
        font-size: var.$heading-2;
        font-weight: 700;
        color: var.$blue-700;
        margin: 1rem 0;
      }



      .register__createWith{
        @include mix.btnComponent;
        //&:hover, {
        //  //margin: -2px;
        //  border: 5px solid  var.$blue-900;
        //
        //}
      }

      .register__other{
        position: relative;
        display: inline-block;
        margin: 1rem 0;
        color: var.$gray-700;
        &::before{
          display: inline-block;
          content: "";
          width: 11vw;
          position: absolute;
          top: 50%;
          //left: -90%;
          transform: translateX(-102%);
          height: 1px;
          background-color: var.$gray-500;
        }
        &::after{
          display: inline-block;
          content: "";
          width: 11vw;
          position: absolute;
          top: 50%;
          //left: -90%;
          transform: translateX(2%);
          height: 1px;
          background-color: var.$gray-500;
        }
      }

    }

    .register__form{
      position: relative;
      top: -5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      height: 100%;


      .inputWrapper{
        width: 70%;
        height: 30%;
        color: var.$black;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;


        .label{
          color: var.$blue-700;
          font-weight: 600;
          margin: .5rem 0;
        }
        .inputData{
          height: 40%;
          padding: .5rem;
          font-size: 1rem;
          border: 2px solid var.$black;
          border-radius: 0.625rem;

          &:active{
            border-color: var.$blue-700;
          }
        }
      }
      .confirmRegistration{
        @include mix.btnComponent;
      }

    }
  }

}