@use 'variables' as *;
@mixin text-header1($weight: $font-weight-regular, $italic: false) {
    font-size: $font-heading1;
    font-weight: $weight;
    @if $italic {
        font-style: italic;
    }
    letter-spacing: $letter-spacing-h1;
}
@mixin text-header2($weight: $font-weight-regular, $italic: false) {
    font-size: $font-heading2;
    font-weight: $weight;
    @if $italic {
        font-style: italic;
    }
    letter-spacing: $letter-spacing-h2;
}
@mixin text-header3($weight: $font-weight-regular, $italic: false) {
    font-size: $font-heading3;
    font-weight: $weight;
    @if $italic {
        font-style: italic;
    }
    letter-spacing: $letter-spacing-h3;
}
@mixin text-header4($weight: $font-weight-regular, $italic: false) {
    font-size: $font-heading4;
    font-weight: $weight;
    @if $italic {
        font-style: italic;
    }
    letter-spacing: $letter-spacing-h4;
}
@mixin text-header5($weight: $font-weight-regular, $italic: false) {
    font-size: $font-heading5;
    font-weight: $weight;
    @if $italic {
        font-style: italic;
    }
    letter-spacing: $letter-spacing-h5;
}
@mixin text-header6($weight: $font-weight-regular, $italic: false) {
    font-size: $font-heading6;
    font-weight: $weight;
    @if $italic {
        font-style: italic;
    }
    letter-spacing: $letter-spacing-h6;
}
@mixin text-paragraph($weight: $font-weight-regular, $italic: false) {
    font-size: $base-font-size;
    font-weight: $weight;
    @if $italic {
        font-style: italic;
    }
    letter-spacing: $letter-spacing-body;
}
@mixin text-button($weight: $font-weight-regular, $italic: false) {
    font-size: $font-button;
    font-weight: $weight;
    @if $italic {
        font-style: italic;
    }
    letter-spacing: $letter-spacing-h1;
}

@mixin flex-center($dir: row) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
}

@mixin flex-position(
    $dir: row,
    $wrap: wrap,
    $position-horizontal: flex-start,
    $position-vertical: flex-start
) {
    display: flex;
    flex-direction: $dir;
    justify-content: $position-horizontal;
    align-items: $position-vertical;
}

// button mixins
@mixin button-basic {
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: $border-radius--rounded;
    width: auto;
    padding: 0.5rem;
    display: inline-block;
    @include text-button;
    transition: $transition-basic;
    text-align: center;
}

@mixin focus {
    outline: dashed $blue-300;
    outline-offset: 0.3rem;
    outline-width: 0.15rem;
}

@mixin button--small {
    width: $button-width-regular;
    padding: 0.75rem;
}

@mixin button--regular {
    width: $button-width-regular;
    padding: 1rem;
    height: auto;
}

@mixin button--wide {
    width: $button-width-wide;
    height: 3.875rem;
}

@mixin button-main {
    background-color: $blue-500;
    color: $white;
}

@mixin button-main--active {
    background-color: $blue-900;
}

@mixin button-main--hover {
    background-color: $blue-700;
}

@mixin button-soft {
    background-color: $blue-100;
    color: $blue-700;
}

@mixin button-soft--hover {
    background-color: $blue-300;
    color: $gray-100;
}

@mixin button-soft--active {
    background-color: $blue-300;
    color: $blue-900;
    border: solid $border-size $blue-900;
}

@mixin button-main--disabled {
    background-color: $blue-100;
}

@mixin button-soft--disabled {
    background-color: $gray-100;
    color: $blue-100;
    border: solid $border-size $blue-100;
}

// mixin for forms

@mixin input {
    width: 100%;
    height: 10vh;
    padding: 0.75rem 0.875rem 0.75rem 0.875rem;
    border: $border-size--input solid $gray-900;
    border-radius: $border-radius--normal;
}

@mixin input--active {
    border-color: $blue-700;
    outline-color: $blue-700;
    outline-offset: -0.125rem;
}

@mixin label {
    font-size: $font-heading6;
    font-weight: $font-weight-semiBold;
}
