@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Color Palette */
$blue-900: #002066;
$blue-700: #0035aa;
$blue-500: #545fdd;
$blue-300: #8c8cff;
$blue-100: #d9d9ff;

/* Gray Scale */
$gray-900: #333333;
$gray-700: #666666;
$gray-500: #999999;
$gray-300: #cccccc;
$gray-100: #eeeeee;

/* No colors */
$black: #000;
$white: #fff;

$color-error: #dc143c;
$color-success: #079707;
$color-warining: #d1bf31;

$color-other-icon-background: #d0a1f0ef;
$color-other-icon-color: #9404f4ef;

$color-blood-icon-background: #f3d2d2;
$color-blood-icon-color: #c50000;

$color-allergies-icon-background: #c8fcca;
$color-allergies-icon-color: #055908;

$color-diabetes-icon-background: #b6f2ff;
$color-diabetes-icon-color: #197488;

// Typography
$main-font: 'Poppins', Helvetica, Arial, sans-serif;
$font-heading1: 3.815rem;
$font-heading2: 2.5rem;
$font-heading3: 1.9rem;
$font-heading4: 1.753rem;
$font-heading5: 1.563rem;
$font-heading6: 1.15rem;
$font-button: 1.125rem;
$base-font-size: 1rem;

// letter-spacing
$letter-spacing-h1: -1.5;
$letter-spacing-h2: -0.5;
$letter-spacing-h3: 0;
$letter-spacing-h4: 0.25;
$letter-spacing-h5: 0;
$letter-spacing-h6: 0.15;
$letter-spacing-body: 0.5;
$letter-spacing-button: 0.05rem;
$letter-spacing-button--wide: 0.1rem;

// font-weight
$font-weight-bold: 700;
$font-weight-semiBold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$border-radius--normal: 0.5rem;
$border-radius--rounded: 1.25rem;
$border-size: 0.125rem;
$border-size--input: 0.2rem;

// button size
$button-width-minor: 2.125rem;
$button-width-small: 8.25rem;
$button-width-regular: 10.125rem;
$button-width-wide: 22rem;

// transition
$transition-basic: all 0.2s ease-in-out;

//max-width for media
$tablet-width: 768px;
$bigger-tablet: 950px;
$laptop-width: 1024px;
$pc-width: 1370px;

//tablets
$font-heading2--tablets: 1.9rem;
$font-heading3--tablets: 1.7rem;
$font-heading5--tablets: 1.1rem;
$font-heading6--tablets: 1rem;
$font-button--tablet: 1rem;

$button-width-minor--tablets: 2.125rem;
$button-width-small-tablets: 7.25rem;
$button-width-regular-tablets: 10.125rem;
$button-width-wide--tablets: 22rem;
$border-radius--rounded--tablets: 1.1rem;

//laptops
$font-heading3--laptops: 1.5rem;
$font-heading4--laptops: 1.3rem;
$font-heading5--laptops: 1.2rem;
$font-heading6--laptops: 1.1rem;
$font-button--laptops: 1rem;
$base-font-size--laptops: 1rem;

//pc
$font-heading5--pc: 1.55rem;
$font-heading6--pc: 1.3rem;
