/* Color Palette */
$blue-900: #002066;
$blue-700: #0035aa;
$blue-500: #545fdd;
$blue-300: #8c8cff;
$blue-100: #d9d9ff;

/* Gray Scale */
$gray-900: #333333;
$gray-700: #666666;
$gray-500: #999999;
$gray-300: #cccccc;
$gray-100: #eeeeee;

/* No colors */
$black: #000;
$white: #fff;
